body{
    background-color: black;
    margin: 10px 20px;
    
}
.guild-lines p{
    font-size: 18px;
}

p{
    color: white;
    font-size: 25px;
}
.img-button{
    background: transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid white;
    vertical-align: top;
    gap: 10px;
    cursor: pointer;

}
img{
    max-width: 80px;
    max-height: 80px;
}
.moves, .result, .score{
  font-size: 20px;
  margin-top: 25px;
} 
.reset, .auto-play{
    padding: 10px 25px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: black;

      margin: 10px;

      width: 100%;
    }
    .guild-lines{
        width:85%;
        margin-left: 20px;
        font-size: 16px;
        font-family: Arial;
    }
  }